<h3>詳細</h3>
<p>Title: <%= @article.title %></p>
<p>Description: <%= @article.description %></p>
created by: <%= link_to @article.user.username, user_path(@article.user) %><br>
<%= link_to "編集", edit_article_path(@article) %> |
<%= link_to "全部", articles_path %>


